<div class="background-svg">
  <div class="clients">
    <h2 class="title-sponsor">Clientes</h2>
    <owl-carousel-o class="carouselt" [options]="clientOptions">
      <ng-template carouselSlide><img alt="ADN Logo" src="../assets/images/adn.png"></ng-template>
      <ng-template carouselSlide><img alt="Mente Centro Logo" src="../assets/images/mentecentro.png"></ng-template>
      <ng-template carouselSlide><img alt="Pincel Logo" src="../assets/images/pincel.png"></ng-template>
      <ng-template carouselSlide><img alt="VentaGamer Logo" src="../assets/images/ventagamer.png"></ng-template>
      <ng-template carouselSlide><img alt="Envidia Logo" src="../assets/images/envidia.png"></ng-template>
      <ng-template carouselSlide><img alt="Manaos Logo" src="../assets/images/manaos.png"></ng-template>
    </owl-carousel-o>
  </div>
</div>