      <div class="navigation">
        <img class="logo" src="../assets/todoitorange.svg">
        <a class="arrow a-back" closeSidebar>
          <img class="form-logo" fill="#ff5100" width="8px" alt="logo" src="../assets/arrow.svg" />
        </a>
        <h3 id="message" class="user">Hola {{ currentClient }}!</h3>
        <div class="item">
          <img class="icon" src="../assets/buttons/panel.svg">
          <p (click)="navigate('panel');" class="text">Panel</p>
        </div>
        <div class="item">
          <img class="icon" src="../assets/buttons/request.svg">
          <p (click)="navigate('request');" class="text">Solicitar</p>
        </div>
        <div class="item">
          <img class="icon" src="../assets/buttons/status.svg">
          <p (click)="navigate('status');" class="text">Estado</p>
        </div>
        <div class="item">
          <img class="icon" src="../assets/buttons/history.svg">
          <p (click)="navigate('history');" class="text">Historial</p>
        </div>
        <div class="logout">
          <div class="item">
            <img class="icon" src="../assets/buttons/logout.svg">
            <p (click)="logout('');" class="text">Salir</p>
          </div>
        </div>
      </div>
