<div class="background-svg">
  <div class="container text-center ">
    <div class="row stats" data-aos="fade-up" data-aos-delay="250">
      <div class="col-sm-2"></div>

      <div class="col-sm-2">

        <p [reanimateOnClick]="false" [countUp]="2"  class="num">2</p>
        <svg version="1.1" id="line_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="80px" height="15px" xml:space="preserve">
          <path class="path2" stroke-width="6" stroke="#FD611A" d="M0 0 l1120 0" />
        </svg>
        <p class="desc">años activos</p>
      </div>

      <div class="col-sm-2">
        <p [reanimateOnClick]="false" [countUp]="712" class="num">712</p>
        <svg version="1.1" id="line_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="80px" height="15px" xml:space="preserve">
          <path class="path2" stroke-width="6" stroke="#FD611A" d="M0 0 l1120 0" />
        </svg>
        <p class="desc">clientes satisfechos</p>
      </div>

      <div class="col-sm-2">
        <p [reanimateOnClick]="false" [countUp]="6" class="num">6</p>
        <svg version="1.1" id="line_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="80px" height="15px" xml:space="preserve">
          <path class="path2" stroke-width="6" stroke="#FD611A" d="M0 0 l1120 0" />
        </svg>
        <p class="desc">locales</p>
      </div>

      <div class="col-sm-2">
        <p class="num">24/7</p>
        <svg class="m-2" version="1.1" id="line_2" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="15px" xml:space="preserve">
          <path class="path2" stroke-width="6" stroke="#FD611A" d="M0 0 l1120 0" />
        </svg>
        <p class="desc">soporte técnico</p>
      </div>

      <div class="col-sm-2"></div>

    </div>
  </div>

</div>