<div class="container text-center">
  <div class="logo">
    <span class="logon">
      <a (click)="navigate('home');">
        <img height="70" alt="Todoit Logo" src="../assets/todoitwhite.svg" />
      </a>
    </span>
  </div>

  <div class="buttons text-left">
    <button class="btn btn-primary btn-register" type="button" (click)="navigate('register');">Registrate</button>
    <button class="btn btn-indo btn-login" type="button" (click)="navigate('login');">Iniciar sesión</button>
  </div>
</div>