<div>
  <h2 class="title-reviews">Reseñas</h2>

  <owl-carousel-o class="carousel" [options]="reviewOptions">
    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_1.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Valen</h3>
          <p>"Espectacular el servicio, muy atentos. El equipo reparado tuvo un inconveniente y estuvieron predispuestos
            a
            solucionarlo, super recomendable Todoit!"</p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_2.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Yubal</h3>
          <p>"Los chicos de TodoIt son unos capos, me han salvado las papas en muchas ocaciones ya que soy un usuario
            promedio y tiendo a cometer muchos errores. Si usted es medio gagá recomiendo Todoit reparaciones."</p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_3.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Eloy</h3>
          <p>"Muy atentos en todo momento. Arreglaron mí pc que tenía un problema con infinidad de soluciones en
            YouTube,
            pero me daba miedo intentar. Muchas gracias TodoIT."</p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_4.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Francisco</h3>
          <p>"Son lo mejor, lograron lo imposible y pudieron hacer funcionar mi tostadora. Gracias TODOIT"</p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_5.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Tatiana</h3>
          <p>"Muy buena atención, mi computadora llevaba días sin prender y lograron solucionarlo, muchas gracias
            TODOIT!"
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_6.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Rosa</h3>
          <p>"Nunca dejo reseñas, pero esta vez se lo merecen! Gracias por dejar mi PC como nueva."</p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="img-review">
        <img src="../assets/images/review_7.png">
      </div>
      <div class="review shadow">
        <div class="content">
          <h3>Erika</h3>
          <p>"Siempre he tenido desconfianza a la hora de ir a reparar mi pc, porque nunca me solucionaban bien el
            problema, pero desde que conocí Todoit no necesito pensarlo dos veces: ellos son la mejor solución."</p>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>