<app-header-landing></app-header-landing>


<div id="pagina" class="container-fluid">
  <div class="row">
    <div class="col-sm-8 banner-info">
      <h2 class="title">
        Si lo pudiste romper... <span class="big-text">
          Lo podemos reparar!
        </span>
      </h2>
    </div>
    <div class="col-sm-4 banner-image" data-aos="fade-up" data-aos-anchor="#example-anchor" data-aos-offset="500"
      data-aos-duration="500">
      <img class="img-responsive" src="../assets/info.svg">
    </div>

    <app-stats class="fully"></app-stats>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 banner-image2" data-aos="fade-up" data-aos-delay="250">
          <img class="img-responsive2" src="../assets/garanty.svg">
        </div>
        <div class="col-sm-8 banner-info2">
          <h2 class="title">
            Con garantía de reparación
          </h2><br>
          <p class="big-text">
            No estás conforme con la reparación?
          </p>
          <p class="big-text">
            Tu equipo falló nuevamente?
          </p>
          <p class="big-text">
            Guardá tu ticket de reparación y contactanos!
          </p>
        </div>
      </div>
    </div>

    <app-team class=fully></app-team>

    <app-reviews class=fully></app-reviews>
    
    <app-clients class=fully></app-clients>

    <footer class="footer">
    </footer>